@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
	--title-font-family: 'figtree';
	--body-font-family: 'albert sans';
	--margin: 1.25rem;

	font-size: 16px;
}

/*nav-home*/
/* #home{
	text-decoration: underline;
} */

.navbar{
	display: none;
}

header{
	margin-top:-1.25rem;
}
h1{
	padding-top: 2.2rem;
}
header p{
	font-size: 1.125rem;
	line-height: 2rem;
	padding-top: 2rem;
}

.bookshelf{
	font-family: var(--title-font-family);
	font-size: 4.5rem;
	font-weight: bold;
	display:flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	margin:-1.25rem;
}

.book1, .book2, .book3{
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.book1{
	background-color: #99B0FE;
}

.book2{
	background-color: #FF66FF;
}

.book3{
	background-color: #CEC045;
}

.booknumbers{
	/* padding: 1.5rem 1.25rem 2rem 1.25rem; */
	padding: 0rem 1.25rem 2rem 1.25rem;
	line-height: 4.5rem;
}

.book-title{
	line-height: 4.5rem;
	padding: 0 1.25rem;
}


footer{
	margin: 0 -1.25rem -1.25rem;
}

@media(min-width: 1280px){


	.bookshelf{
		display:grid;
		width: 50%;

	}

	/* .book1{
		width: 15%;
		height: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden; */
	}

	.book1:hover{
		background-color: red;
	}


	.book2{
		width: 15%;
		height: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	} 

	.book2:hover{
		background-color: lawngreen;
	}

	.book3{
		width: 15%;
		height: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	} 

	.book3:hover{
		background-color: blue;
		color:white;
	}
	
}