@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
	--title-font-family: 'figtree';
	--body-font-family: 'albert sans';
	--margin: 1.25rem;

	--base-color: #231f20;

	font-size: 16px;
}

/* body{
	background-color: #ECE1DB;
	height: 100%;
}

header{
	padding: 2.5rem 1.25rem 2.5 1.25rem;
	color:#211610;
} */

/* h1{
	font-family: var(--title-font-family);
	font-size: 3rem;
	font-weight: bold;
	line-height: 3.5rem;
} */

/* header p{
	font-family: var(--body-font-family);
	font-size: 1.25rem;
	line-height: 1.8rem;
	padding: 2rem 0;
} */

.bookshelf{
	display:flex;
	gap: 0.5rem;
	align-items: flex-end;
	justify-content: center;
	padding: 2rem 0 ;
}

.book1{
	display:none;
}

.book2{
	display:none;
}

.book3, .book4, .book5{
	width: 100%;
	height: 32rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
	position: relative;
	overflow: hidden;
}

.book3{
	background-color: #99B0FE;
	color:#211610;
	/* transform: rotate(2deg); */
}

.book4{
	background-color: #FF66FF;
	color: #211610;
	/* transform: rotate(2deg); */
}

.book5{
	background-color: #CEC045;
	color: #211610;
}

.booknumbers{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.5rem 0 1rem 0;
}

.book-title{
	font-family: var(--title-font-family);
	font-size: 2rem;
	font-weight: 600;
	writing-mode: vertical-rl;
	padding-bottom: 2.5rem;
	padding-left: 1rem;
}

#book5-title{
	font-family: var(--title-font-family);
	font-size: 2rem;
	font-weight: 600;
	writing-mode: vertical-rl;
	padding-bottom: 2.5rem;
	padding-left: 1.8rem;
}

.author3{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding-top: 3.75rem;
}

.author4{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding-top: 12.15rem;
}

.author5{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding-top: -.5rem;
}

.year{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding: .2rem 0 .5rem 0;
}

@media(min-width: 1280px){
	
	.bookshelf{
		/* display:flex; */
		gap: 1rem;
	}

	.circle{
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 10rem;
		background-color: #211610;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 2rem;
	}

	.book1{
		width: 15%;
		height: 32rem;
		display: flex;
		gap: 5rem;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
		background-color: #03BA7A;
		/* transform: rotate(30deg); */
	}

	.book1:hover{
		background-color: #EFC61C;
		color:#211610;
	}

	.book1-title{
		font-family: var(--title-font-family);
		font-size: 2rem;
		font-weight: 600;
		writing-mode: vertical-rl;
		padding-bottom: 2.5rem;
		padding-left: 1.5rem;
	}

	.author1{
		font-family: var(--title-font-family);
		font-size: .8rem;
		padding-top: 8.45rem;
	}

	.book2{
		width: 15%;
		height: 32rem;
		display: flex;
		gap: 1rem;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
		background-color: #CB8E61;
		/* transform: rotate(15deg); */

	}

	.book2:hover{
		background-color: #C7A0F9;
		color:#211610;
	}

	.book3{
		width: 15%;
		height: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	}

	.book3:hover{
		background-color: red;
		color:#211610;
	}


	.book4{
		width: 15%;
		height: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	} 

	.book4:hover{
		background-color: lawngreen;
		color: #211610;
	}

	.book5{
		width: 15%;
		height: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	} 

	.book5:hover{
		background-color: blue;
		color:white;
	}
}