@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
	--title-font-family: 'figtree';
	--body-font-family: 'albert sans';
	--margin: 1.25rem;

	--base-color: #231f20;

	font-size: 16px;
}

body{
	background-color: #EBECE7;
	height: 100%;
}

header{
	padding: 2.5rem 1.25rem 2.5 1.25rem;
	color: black;
}

h1{
	font-family: var(--title-font-family);
	font-size: 3rem;
	font-weight: bold;
}

header p{
	font-family: var(--body-font-family);
	font-size: 1.125rem;
	font-weight: 450;
	line-height: 1.5rem;
	padding: 2rem 0;
}

.navbar{
	display:flex;
	gap: .5rem;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 2rem;
	
}

.book1{
	display:none;
}
/* 
.boxes1{
	display:flex;
	gap:.2rem;
}

#box1{
	width:5px;
	height: 10px;
	background-color: #231f20;
}

.box{
	width:5px;
	height: 10px;
	background-color: #231f20;
} */

.book2{
	display:none;
}

.book3, .book4, .book5{
	width: 7rem;
	height: 32rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
	position: relative;
	overflow: hidden;
}

.book3{
	background-color: #ff0000;
}

.book4{
	background-color: #00ff00;
}

.book5{
	background-color: #0000ff;
	color: white;
}

.booknumbers{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: 400;
	padding: 1.5rem;
}

.book-title{
	font-family: var(--title-font-family);
	font-size: 2rem;
	font-weight: 500;
	writing-mode: vertical-rl;
	padding-bottom: 2.5rem;
	padding-left: .8rem;
}

#book5-title{
	font-family: var(--title-font-family);
	font-size: 2rem;
	font-weight: 500;
	writing-mode: vertical-rl;
	padding-bottom: 2.5rem;
	padding-left: 1.5rem;
}

.author3{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding-top: 3.5rem;
}

.author4{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding-top: 11.6rem;
}

.author5{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding-top: -.5rem;
}

.year{
	font-family: var(--title-font-family);
	font-size: .8rem;
	padding: .2rem 0 .5rem 0;
}

@media(min-width: 1280px){
	
	.book1, .book2, .book3, .book4, .book5{
		background-color: #231F20;
		color: white;
	}

	.book1{
		width: 7rem;
		height: 30rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	}

	.book1:hover{
		background-color: pink;
		color:#231F20;
	}

	.book2{
		width: 7rem;
		height: 30rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 0.5rem;
		position: relative;
		overflow: hidden;
	}

	.book2:hover{
		background-color: pink;
		color:#231F20;
	}

	.book3:hover{
		background-color: #ff0000;
		color:#231F20;
	}

	.book4:hover{
		background-color: #00ff00;
		color: #231F20;
	}

	.book5:hover{
		background-color: #0000ff;
		color:white;
	}
}