:root{
	--accent-color: #FF6735;
	--darker-color:#ff4718;

}

nav ul li:nth-child(4) a{
	background-color: var(--accent-color);
	border-radius: 50%;
	padding: .62rem .62rem;
	font-weight: bold;
}

header{
	background-color: var(--accent-color);
}

footer{
	background-color: var(--accent-color);
}

h2, h3{
	color: var(--darker-color);
} 

.point{
	color:var(--darker-color);
}

#top{
	background-color: var(--accent-color);
}