:root{
	--accent-color: FF6735;
}

header{
	background-color: var(--accent-color);
}

footer{
	background-color: var(--accent-color);
}

.point{
	color:#ff4718;
}

#top{
	background-color: var(--accent-color);
}