
:root{
	--accent-color: #D0FF71;
}

header{
	background-color: var(--accent-color);
}

footer{
	background-color: var(--accent-color);
}

.point{
	color:var(--accent-color);
}

#top{
	background-color: var(--accent-color);
}