@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
	--title-font-family: 'figtree';
	--body-font-family: 'albert sans';
	--margin: 1.25rem;

	--background-color: #F2F2F2;

	font-size: 16px;
}

.navbar{
	font-family: var(--title-font-family);
	font-size: 1.25rem;
	font-weight:bold;
	list-style: none;
	display: flex;
	justify-content: space-between;
	background-color: black;
	margin: -1.25rem;
	padding: 1rem 1.5rem; /* adjust side padding later */
	color: var(--background-color);
}

.nav-article{
	display: flex;
}

/*nav-01*/
#nav01{
	padding-left: 2rem;
}

#nav02{
	padding-left: 2rem;
}

/*nav-03*/
#nav03{
	padding-left: 1.8rem;
}

.navbar a:hover{
	text-decoration: underline;
}

body{
	margin: var(--margin);
	font-family: var(--body-font-family);
	font-size: 1.125rem;
	line-height: 2rem;
	background-color: var(--background-color);
}

section p{
	padding-bottom: 1.5rem;
}

header{
	font-family: var(--title-font-family);
	border-bottom-right-radius:  1.5rem;
	margin: -1.25rem;
	margin-top: 1.25rem;
	padding: 1.25em;
	position: relative;
	z-index: 10;
}

h1{
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 3.5rem;
}

#heading-number{
	font-size: 5rem;
	padding: 1.8rem 0 2rem 0;
}

header p{
	font-family: var(--body-font-family);
	font-weight: 450;
	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 2rem;
}

.author-info p{
	font-size: 1rem;
	padding: 0;
}

.author-info{
	padding-top: 2rem;
	padding-bottom: 1rem;
}

em{
	font-weight: bold;
	text-decoration: underline;
}

#first-h2{
	padding-top: 4rem;
	position: sticky;
	top: -1.8rem;
	background-color: var(--background-color);
}


h2{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: 600;
	padding: 2.2rem 0 1.5rem 0;
	position: sticky;
	top: 0;
	background-color: var(--background-color);
	/* padding-left: 3%; */
}

h3{
	font-family: var(--title-font-family);
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0 -1.25rem;
	padding: 1.5rem 1.25rem;
	position: sticky;
	top: 0;
	background-color: var(--background-color);
}


footer{
	font-family: var(--title-font-family);
	font-size: 1.25rem;
	font-weight: 450;
	border-top-right-radius: 1.5rem;
	margin: 2.5rem -1.25rem -1.25rem;
	padding: 2.5rem 1.25rem;
	padding-left: 5%;
}

#top{
	padding: .5rem 1rem;
	border-radius: 1.5rem;
	position: fixed;
	right: 4vw;
	bottom: 4.5vh;
}

@media (min-width: 1280px){
	body{
		padding-right: 15%;
}

header{	padding-left: 3%;}

h1{	padding-left: 3%;}

#heading-number{padding-left: 3%;}

.author-info p{	padding-left: 3%;}

#first-h2{padding-left: 3%;}

header p{
	padding-left: 30%;
	max-width: 62rem;
}

h2{	padding-left: 3%;}

h3{	padding-left: 31.5%;}

section p{	
	max-width: 62rem;
	padding-left: 30%;
}

}