@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
	--title-font-family:'bricolage grotesque';
	--body-font-family:'space grotesk';
	--author-font-family:'figtree';
	--margin: 1.25rem;
	
	font-size: 16px;
}

body{
	margin: var(--margin);
	font-family: var(--body-font-family);
	font-size: 1.12rem;
	line-height: 1.75rem;
	background-color: #f2f2f2;
}

section p{
	padding-bottom: 1.5rem;
}

header{
	font-family: var(--title-font-family);
	/* border-top: 2px solid black; */
	padding-bottom: 2rem;
}

h1{
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 3rem;
}

#heading-number{
	font-size: 5rem;
	padding: 2.8rem 0rem;
	/* margin: 2rem 0; */
	border: 2px solid transparent;
	background-color: #f2f2f2;
	color: black;
	/* border-radius: 3rem; 
	margin-right: 16.6rem; */
}

header p{
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 2.8rem;
}

.author-info p{
	font-size: 1rem;
	padding: 0;
}

.author-info{
	padding-top: 2rem;
}

#first-h2{
	padding-top: 3.8rem;
	position: sticky;
	top: -1.8rem;
	background-color: #f2f2f2;
}

h2{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: 600;
	padding: 2.2rem 0 1.5rem 0;
	position: sticky;
	top:0;
	border-top: 2px solid black;
}

h3{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0 -1.25rem;
	padding: 1.5rem 1.25rem;
	position: sticky;
	top:0;
	/* background-color: #f2f2f2; */
	/* color: black; */
}

.black{
	background-color: black;
	color: white;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#black{
	background-color: black;
	color: black;
	border: 2px solid white;
	border-radius: 3rem;
	padding: 0 0.45rem;
}

.white{
	background-color: white;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#white{
	background-color: white;
	color:white;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.25rem;
}

.yellow{
	background-color: gold;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#yellow{
	background-color: gold;
	color:gold;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.25rem;
}

.orange{
	background-color: darkorange;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#orange{
	background-color: darkorange;
	color:darkorange;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.25rem;
}

.red{
	background-color: red;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#red{
	background-color: red;
	color:red;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.25rem;
}

.green{
	background-color: limegreen;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#green{
	background-color: limegreen;
	color:limegreen;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.25rem;
}

.blue{
	background-color: lightskyblue;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#blue{
	background-color: lightskyblue;
	color:lightskyblue;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.4rem;
}

.purple{
	background-color: plum;
	color: black;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
}

#purple{
	background-color: plum;
	color:plum;
	border: 2px solid black;
	border-radius: 3rem;
	padding: 0 0.25rem;
}

footer{
	font-family: var(--title-font-family);
	font-size: 1.25rem;
	border-top: 2px solid black;
	/* border-bottom: 2px solid black; */
	padding: 1.5rem 0;
	margin-top: 2.5rem;
}

#top{
	background-color: black;
	color: #f2f2f2;
	padding: .5rem .8rem;

	border-radius: 2rem;
	position: fixed;
	right: 5.25vw;
	bottom: 4.5vh;
}
