@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
	--title-font-family: 'figtree';
	--body-font-family: 'lato';
	--margin: 1.25rem;

	font-size: 16px;
}

body{
	margin: var(--margin);
	font-family: var(--body-font-family);
	font-size: 1.25rem;
	line-height: 2rem;
}

section p{
	padding-bottom: 1.5rem;
	max-width: 62rem;
	padding-left: 30%;
}

header{
	font-family: var(--title-font-family);
	background-color: palegreen;
	border-bottom-right-radius:  1.5rem;
	margin: -1.25rem;
	padding: 2rem 1.25em;
	position: relative;
	z-index: 10;
	padding-left: 3%;
}

h1{
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 3rem;
	padding-left: 2%;
}

#heading-number{
	font-size: 5rem;
	padding: 2rem 0;
	padding-left: 3%;
}

header p{
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 2.8rem;
	max-width: 62rem;
	padding-left: 30%;
}

.author-info p{
	font-size: 1rem;
	padding: 0;
	padding-left: 3%;
}

.author-info{
	padding-top: 2rem;
}

#first-h2{
	padding-top: 4rem;
	position: sticky;
	top: -1.8rem;
	background-color: white;
	padding-left: 3%;
}


h2{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: 600;
	padding: 2.2rem 0 1.5rem 0;
	position: sticky;
	top: 0;
	background-color: white;
	padding-left: 3%;
}

h3{
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0 -1.25rem;
	padding: 1.5rem 1.25rem;
	position: sticky;
	top: 0;
	background-color: white;
	padding-left: 5%;
}


#black{
	background-color: black;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#white{
	background-color: lightgray;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#yellow{
	background-color: gold;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#orange{
	background-color: darkorange;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#red{
	background-color: red;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#green{
	background-color: limegreen;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#blue{
	background-color: lightskyblue;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

#purple{
	background-color: plum;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

footer{
	font-family: var(--title-font-family);
	font-size: 1.25rem;
	background-color: palegreen;
	border-top-right-radius: 1.5rem;
	margin: 2.5rem -1.25rem -1.25rem;
	padding: 2.5rem 1.25rem;
	padding-left: 5%;
}

#top{
	background-color: palegreen;
	padding: .5rem 1rem;
	border-radius: 1.5rem;
	position: fixed;
	right: 4vw;
	bottom: 4.5vh;
}

@media (min-width: 1280px){
	body{
		padding-right: 15%;

}
}