
:root{
	--accent-color: #ADBFFD;
}

header{
	background-color: var(--accent-color);
}

footer{
	background-color: var(--accent-color);
}

/* h2, h3{
	color: #849dff;
} */

.point{
	color:var(--accent-color);
}

#top{
	background-color: var(--accent-color);
}
