
:root{
	--accent-color: #ADBFFD;
}

nav ul li:nth-child(2) a{
	background-color: #adbffd;
	border-radius: 50%;
	padding: .52rem .62rem;
	font-weight: bold;
}

header{
	background-color: var(--accent-color);
}

footer{
	background-color: var(--accent-color);
}

/* h2, h3{
	color: #849dff;
} */

.point{
	color:#849dff;
}

#top{
	background-color: var(--accent-color);
}
